.header-bg{
    background-color: rgb(8, 1, 1);
    height: 100%;
    ul{
        display: flex; 
        justify-content: end;
        height: 100%;
        li{
         margin: 0px 10px 0px 10px ;
         color: white ; 
        }
     }
}
